@import '../../variables/Variables.scss';

.btn {
  color: $whiteColor;
  text-transform: uppercase;
  padding: 18px 26px;
  background: #252525;
  margin: 35px 10px 0 0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  max-width: 200px;
  transition: 0.6s ease-in;

  &:hover {
    background: rgb(133, 133, 133);
  }
}